<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Ashinamo</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/plugin/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/plugin/jquery.flot.js"></script>
    <link href="/static/plugin/memory/c3-b03125fa.css" media="screen" rel="stylesheet" type="text/css">
    <script>
    $(function(){
        var localhref = window.location.pathname; 
        $('.anavbar').each(function(){
            if($(this).attr('href') == localhref){
                $(this).parent().addClass('active')
            }
        });

    });
    </script>
    <style>
    .col-lg-3{
        width: 25%; 
    }
    </style>
</head>
<body>
    <!--content start-->
    <div class="container">
        <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a class="anavbar" href="{% url 'page_index' %}">Ashinamo</a></li>
              <li><a class="anavbar" href="{% url 'page_cpu' %}">Cpu</a></li>
              <li><a class="anavbar" href="{% url 'page_mem' %}">Memory</a></li>
              <li><a class="anavbar" href="{% url 'page_io' %}">IO</a></li>
              <li><a class="anavbar" href="{% url 'page_net' %}">NetWork</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <div class="panel panel-default">
        {% block content %}
        {% endblock %}
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 class="text-center">Cpu</h2>
          <p>中央处理器（CPU，Central Processing Unit）是一块超大规模的集成电路，是一台计算机的运算核心（Core）和控制核心（ Control Unit）。它的功能主要是解释计算机指令以及处理计算机软件中的数据。</p>
          <p><a class="btn btn-primary btn-block" href="{% url 'page_cpu' %}" role="button">View</a></p>
        </div>
        <div class="col-lg-3">
          <h2 class="text-center">Memory</h2>
          <p>内存是计算机中重要的部件之一，它是与CPU进行沟通的桥梁。计算机中所有程序的运行都是在内存中进行的，因此内存的性能对计算机的影响非常大。</p>
          <p><a class="btn btn-primary btn-block" href="{% url 'page_mem' %}" role="button">View</a></p>
       </div>
        <div class="col-lg-3">
          <h2 class="text-center">IO</h2>
          <p>I/O输入/输出(Input/Output),分为IO设备和IO接口两个部分。 不同的I/O方式有不同的实现 方式和性能，在不同的应用中可以按情况选择不同的I/O方式。</p>
          <p><a class="btn btn-primary btn-block" href="{% url 'page_io' %}" role="button">View</a></p>
        </div>
        <div class="col-lg-3">
          <h2 class="text-center">NetWork</h2>
          <p>在计算机领域中，网络是信息传输、接收、共享的虚拟平台，通过它把各个点、面、体的信息联系到一起，从而实现这些资源的共享。网络是人类发展史来最重要的发明，提高了科技和人类社会的发展。</p>
          <p><a class="btn btn-primary btn-block" href="{% url 'page_net' %}" role="button">View</a></p>
        </div>
      </div>

    </div>
    <!--content end-->
    <!--footer start-->
    <!--div class="container-fluid">
    </div-->
    <div class="container-fluid" style="border-top:1px solid #e7e7e7;margin-top:2em;">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <h1><a href="http://www.pythonpie.com/" style="text-decoration:none;">Pythonpie</a></h1>
          </div>
          <div class="col-sm-6  col-md-5 col-md-offset-1">
            <div class="row about">
              <div class="col-xs-6 pull-right text-right">
                <h4>About</h4>
                <ul class="list-unstyled">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
              <div class="col-xs-6 pull-right text-right">
                <h4>Contact</h4>
                <ul class="list-unstyled">
                  <li><a href="#" title="pythonpie" target="_blank">sina</a></li>
                  <li><a href="mailto:contact@pythonpie.com">email</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <hr>
        <div class="row">
          <ul class="list-inline text-center">
          </ul>
        </div>
      </div>
    </div>
    <!--footer end-->
</body>
</html>

