{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
         $(function() {

             // We use an inline data source in the example, usually data would
             // be fetched from a server

             var readdata = [],
                 totalPoints = 300;
            var writedata = [];

             function getData() {
                 if (readdata.length > 0){
                     readdata = readdata.slice(1);
                     writedata = writedata.slice(1);
                     $.ajax({
                        url: "{% url 'dataio' %}",
                        dataType: "json",
                        success:function(datas){
                            if(datas[0] == 0){
                                var datadic = datas[2];
                                readingdata = 0;
                                writingdata =0;
                                for(var key in datadic){
                                    readingdata += parseInt(datadic[key]['reading']);
                                    writingdata += parseInt(datadic[key]['writing']);
                                }    
                                readdata.push(readingdata/1024);
                                writedata.push(writingdata/1024);
                            }
                        }
                     });
                 }

                 // Do a random walk

                 while (readdata.length < totalPoints) {
                     y = 0;
                     readdata.push(y);
                     writedata.push(y);
                 }

                 // Zip the generated y values with the x values

                 var readres = [];
                 var writeres = [];
                 for (var i = 0; i < readdata.length; ++i) {
                     readres.push([i, readdata[i]])
                 }
                 for (var i = 0; i < writedata.length; ++i) {
                     writeres.push([i, writedata[i]])
                 }

                 return [{label: 'READ', data: readres},{label: 'WRITE', data: writeres}];
             }

             // Set up the control widget

             var updateInterval = 1000;

             var plot = $.plot("#placeholder", getData() , {
                 series: {
                     shadowSize: 0   // Drawing is faster without shadows
                 },
                 yaxis: {
                     min: 0,
                     max: 500,
                     tickFormatter: function suffixFormat(val, axis){
                        return val.toFixed(axis.tickDecimals) + " MB";
                     }
                 },
                 xaxis: {
                     show: false
                 }
             });
              function update() {

                 plot.setData(getData());

                 // Since the axes don't change, we don't need to call plot.setupGrid()

                 plot.draw();
                 setTimeout(update, updateInterval);
             }

             update();

             // Add the Flot version string to the footer

             $("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
         });
    </script>
       <div class="panel-heading">Io</div>
        <div class="panel-body">
            <p>I/O输入/输出(Input/Output),分为IO设备和IO接口两个部分。 在POSIX兼容的系统上，例如Linux系统，I/O操作可以有多种方式，比如DIO(Direct I/O),AIO(Asynchronous I/O 异步I/O),Memory-Mapped I/O(内存映设I/O)等，不同的I/O方式有不同的实现 方式和性能，在不同的应用中可以按情况选择不同的I/O方式。</p>
            <div class="col-md-12"><hr /></div>
               <div class="col-lg-12" style="height:350px;margin:0;padding:0;">
                <div id="placeholder" style="width:100%;height:100%;line-height:1.2em;"></div>
               </div>
        </div>

{% endblock %}
